/*
transactions
*/

.transactions {
  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #808080;
    }
  }

  .transactions-table-section {
    margin-top: 40px;

    .table-content-layout {
      @media (max-width: 1270px) {
        overflow: auto;
      }

      .table-content {
        min-width: 918px;

        .table-head {
          display: flex;
          align-items: center;
          border-radius: 4px;
          background: #28292e;
          margin-bottom: 15px;

          > div {
            padding: 16px 15px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
              font-family: 'Poppins', sans-serif;
              font-size: 12px;
              color: #FFFFFF;
            }
          }
        }

        .table-body {
          .table-row {
            display: flex;
            align-items: center;
            background: #1C1C1F;
            border-radius: 4px;
            margin-bottom: 5px;
            transition: all 0.3s;
            
            &:hover {
              transform: scale(1.02);
            }

            > div {
              box-sizing: border-box;
              padding: 10px 16px;

              p {
                font-weight: 300;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                color: #FFFFFF;
              }

              .right-border {
                padding: 6px 0;
                border-right: 1px solid #FFFFFF;
              }

              .status {
                padding: 6px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                > div {
                  margin-right: 10px;
                  border-radius: 3px;
                  min-width: 12px;
                  min-height: 12px;
                }
              }
            }
          }
        }
        
      }
    }
  }
}