/*
 settings-account
*/

.settings-account {
  padding-bottom: 45px;

  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
  }

  .description {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #646A79;
  }

  .email-setting {
    margin-top: 40px;
    align-items: flex-end;
    
    .form-control {
      p {
        position: absolute;
        margin: 0;
        bottom: -20px;
      }
    }
  }

  .password-setting {
    margin-top: 32px;
    margin-bottom: 40px;
    align-items: flex-end;

    .form-control {
      p {
        position: absolute;
        margin: 0;
        bottom: -20px;
      }
    }
  }

  .profile-setting {
    margin-top: 40px;

    .form-control {
      margin-top: 25px;
    }

    .photo {
      margin-top: 55px;
      width: 100%;
      height: calc(100% - 55px);
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;

      input {
        display: none;
      }

      .profile-img {
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .default-img {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #777E90;
        cursor: pointer;
      }

      .image-style {
        width: 100%;
        height: auto;
        max-width: 380px;
        max-height: 380px;
        object-fit: cover;
      }

      > div {
        position: relative;
        border-radius: 14px;
        width: 100%;
        height: 100%;
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 576px) {
          height: 500px;
        }
        > p {
          font-family: 'Poppins', sans-serif;
          color: #bf1650;
          font-size: 12px;
          position: absolute;
          left: 0;
          bottom: -30px;
          margin: 0;
        }
      }
    }

    .profile-update {
      margin-top: 30px;
    }
  }

  .form-control {
    margin-bottom: 0px !important;
  }

  .standard {
    height: 48px;
    border-radius: 14px !important;
  }

  button {
    width: 140px;
    height: 48px;
    border-radius: 24px;
  }
  
}