.AllowButton {
  background: #5469d4;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.NotAllowedButton {
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #ccc;
  cursor: not-allowed;
}
/*  */